{% extends 'base.html' %}

{% block body %}
<div class="card" style="width: 32rem;">
	<h5 class="card-header" style="text-align:center">緯度経度を手動入力</h5>
	<form action="/" method="POST">
		<label for="緯度">緯度</label>
		<input type="number" name="緯度">
		<label for="経度">経度</label>
		<input type="number" name="経度">
		<input type="submit">
	</form>
</div>

<div class="card" style="width: 32rem;">
	<h5 class="card-header" style="text-align:center">現在位置を自動入力</h5>
	<a href="/adress" class="btn btn-primary" role="button">位置情報を再取得</a>
</div>

<div class="card" style="width: 32rem;">
	<h5 class="card-header" style="text-align:center">現在保持されている位置情報</h5>
	<li>緯度は{{ido}}</li>
	<li>経度は{{keido}}</li>

</div>

<form action="/select" method="POST">
	<label for="緯度">緯度</label>
	<input type="number" name="緯度" value={{ido}}>
	<label for="経度">経度</label>
	<input type="number" name="経度" value={{keido}}>
	<input type="submit">
</form>


<form action="/result" method="POST">
	<input type="hidden" name="ido" value={{latitude}}>
	<input type="hidden" name="keido" value={{longitude}}>
	<input type="submit"class="btn btn-primary" value="現在地から検索">
</form>

<dl>
	<dt>緯度</dt>
	<dd id="resultLatitude">-</dd>

	<dt>経度</dt>
	<dd id="resultLongitude">-</dd>

	<dt>緯度・経度の精度</dt>
	<dd id="resultAccuracy">-</dd>
</dl>


<script>

	if (!(navigator.geolocation)) {
		alert("この端末では位置情報が取得できません");
    }

	// ページの読み込み完了と同時に実行されるよう指定
	window.onload = geoApi;

	function geoApi () {
		// 現在位置情報を取得
		navigator.geolocation.getCurrentPosition(
			// 位置情報取得完了時の処理
			function (position) {
				// 緯度
				var latitude = position.coords.latitude;
				document.getElementById("resultLatitude").innerHTML = latitude;
				
				// 経度
				var longitude = position.coords.longitude;
				document.getElementById("resultLongitude").innerHTML = longitude;
				
				// 緯度・経度の精度
				var accuracy = position.coords.accuracy;
				document.getElementById("resultAccuracy").innerHTML = accuracy;
			
			},
			// 取得失敗した場合
			function(error) {
			switch(error.code) {
				case 1: //PERMISSION_DENIED
				alert("位置情報の利用が許可されていません");
				break;
				case 2: //POSITION_UNAVAILABLE
				alert("現在位置が取得できませんでした");
				break;
				case 3: //TIMEOUT
				alert("タイムアウトになりました");
				break;
				default:
				alert("その他のエラー(エラーコード:"+error.code+")");
				break;
			}
		}
		);
	}

</script>

{% endblock %}