{% extends 'base.html' %}

{% block body %}
<div class="card" style="width: 32rem;">
	<h5 class="card-header" style="text-align:center">緯度経度を手動入力</h5>
	<form action="/" method="POST">
		<label for="緯度">緯度</label>
		<input type="number" name="緯度">
		<label for="経度">経度</label>
		<input type="number" name="経度">
		<input type="submit">
	</form>
</div>

<div class="card" style="width: 32rem;">
	<h5 class="card-header" style="text-align:center">現在位置を自動入力</h5>
	<a href="/adress" class="btn btn-primary" role="button">位置情報を再取得</a>
</div>

<div class="card" style="width: 32rem;">
	<h5 class="card-header" style="text-align:center">現在保持されている位置情報</h5>
	<li>緯度は{{ido}}</li>
	<li>経度は{{keido}}</li>

</div>

<!-- <a href="/select" class="btn btn-primary" role="button">絞り込み</a> -->

<!-- <a href="{{ url_for('select', ido=34, keido=136 )}}" class="btn btn-primary" role="button">絞り込み2</a> -->

<form action="/select" method="POST">
	<label for="緯度">緯度</label>
	<input type="number" name="緯度" value={{ido}}>
	<label for="経度">経度</label>
	<input type="number" name="経度" value={{keido}}>
	<input type="submit">
</form>

<p><input type="button" value="位置情報の取得" onclick="geoApi()"></p>
<dl>
	<dt>緯度</dt>
	<dd id="resultLatitude">-</dd>

	<dt>経度</dt>
	<dd id="resultLongitude">-</dd>

	<dt>緯度・経度の精度</dt>
	<dd id="resultAccuracy">-</dd>
</dl>


<script>
	function geoApi () {
		// 現在位置情報を取得
		navigator.geolocation.getCurrentPosition(successCallback);
		// 位置情報取得完了時の処理
		function successCallback(position) {
			// 緯度
			var gllatitude = position.coords.latitude;
			document.getElementById("resultLatitude").innerHTML = gllatitude;
			
			// 経度
			var gllongitude = position.coords.longitude;
			document.getElementById("resultLongitude").innerHTML = gllongitude;
			
			// 緯度・経度の精度
			var glaccuracy = position.coords.accuracy;
			document.getElementById("resultAccuracy").innerHTML = glaccuracy;
		
		}
	}
</script>

{% endblock %}